"*":
  "atom-ide-ui":
    use: {}
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "39017e1d-2d2f-439f-8a05-0236ed3b4af1"
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  welcome:
    showOnStartup: false
