[
  {
    title: "www.pareudepararme.org"
    group: "websites"
    paths: [
      "/home/carles/Projectes/websites/www.pareudepararme.org"
    ]
  }
  {
    title: "Vuejs Poster Shop"
    group: "play-vue"
    paths: [
      "/home/carles/Learning/Vue/Courses/2017-udemy/ultimate-vue2-developers-course/code/vuejs-poster-shop"
    ]
  }
  {
    title: "Play Loopback"
    group: "play-loopback"
    paths: [
      "/home/carles/Learning/Node/Courses/2017-egghead/build-rest-api-loopback/code/play-loopback"
    ]
  }
  {
    title: "Decidim Barcelona Organizations"
    group: "rails"
    paths: [
      "/home/carles/Projectes/rails/decidim-org/decidim-barcelona-organizations"
    ]
  }
  {
    title: "Ta Frontoffice"
    group: "angular"
    paths: [
      "/home/carles/Projectes/angular/ta-frontoffice"
    ]
  }
]
